<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="reviews" id="oag_orderreviews">
            <module name="OAG_OrderReview"/>
        </route>
    </router>
</config>
