<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="oag" translate="label" sortOrder="10">
            <label>OAG</label>
        </tab>
        <section id="oag_orderreview" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Order Review</label>
            <tab>oag</tab>
            <resource>OAG_OrderReview::order_review_config</resource>
            <group id="email_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Configuration</label>
                <field id="enable_cronjob" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Email sender cronjob</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="sender" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="3">
                    <label>Order review email sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="enable_cronjob">1</field>
                    </depends>
                </field>
                <field id="email_template" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Review Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enable_cronjob">1</field>
                    </depends>
                </field>
                <field id="order_waiting_days" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Days to wait after the order was created to send the order review email</label>
                    <validate>validate-zero-or-greater validate-digits</validate>
                    <depends>
                        <field id="enable_cronjob">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
